*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffe600;
}

.background{
    position: absolute;
    width: 500px;
    height: 500px;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
}

.nose{
    position: absolute;
    left: calc(50% - 10px);
    top: 30%;
}

.triangle{
    width: 10px;
    height: 10px;
    border: 10px solid #2e2e2e;
    border-bottom: none;
    border-color: #2e2e2e transparent transparent;
}

.arc{
    position: relative;
    background-color: #2e2e2e;
    width: 20px;
    height: 10px;
    border-radius: 10px 10px 0 0;
    z-index: -1;
    top: 2px;
    transform: scaleY(0.6);
}

.eye{
    width: 70px;
    height: 70px;
    position: absolute;
    border: 2px solid black;
    border-radius: 50%;
    top: 20%;
    background-color: #2e2e2e
}

.leftEye{
    left: 20%;
}

.rightEye{
    right: 20%;
}

.pupil{
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 3px;
    z-index: 1;
    background-color: white;
}

.mouth{
    width: 200px;
    height: 200px;
    position: absolute;
    left: calc(50% - 100px);
    top: 40%;
    overflow: hidden;
}

.mouth::before{
    content: "";
    position: absolute;
    background-color: #ffe600;
    width: 200px;
    height: 8px;
    left: 0px;
    top: 0px;
    z-index: 2;
}

.upperlip{

}

.upperlip-left{
    width: 80px;
    height: 22px;
    border: 4px solid black;
    position: absolute;
    border-radius: 0 0 0 20px;
    border-top: none;
    border-right: none;
    transform: rotate(-15deg);
    left: 20px;
    background-color: #ffe600;
}

.upperlip-right{
    width: 80px;
    height: 22px;
    border: 4px solid black;
    position: absolute;
    border-radius: 0 0 20px 0;
    border-top: none;
    border-left: none;
    transform: rotate(15deg);
    right: 18px;
    background-color: #ffe600;
}

.lowerlip{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: calc(50% - 80px);
    z-index: -1;
}

.lowerlip-dark{
    width: 160px;
    height: 700px;
    border: 4px solid black;
    border-radius: 50%;
    background-color: #aa1e29;
    overflow: hidden;
    position: relative;
}

.lowerlip-light{
    position: absolute;
    bottom: -145px;
    left: calc(50% - 125px);
    width: 250px;
    height: 300px;
    background-color: #f15560;
    border-radius: 50%;
}

.leftCheek, .rightCheek{
    width: 100px;
    height: 100px;
    background-color: #ee3823;
    border-radius: 50%;
    border: 4px solid black;
    position: absolute;
    top: 40%;
}

.leftCheek{
    left: 5%;
}

.rightCheek{
    right: 5%;
}

a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: black;
    position: absolute;
    bottom: 5px;
    right: 5px;
}